footer.footer
	.footer__top 
		.container
			.footer__top-body
				a(href="/") 
					img(src="@img/svg/logo-white.svg", alt="Makler")
				ul 
					li 
						a(href="#") Реклама дателям
					li 
						a(href="#") Инструкции по публикации
					li 
						a(href="#") Инструкции по публикации
				ul 
					li 
						a(href="#") Помощь
					li 
						a(href="#") Тех поддержка 
					li 
						a(href="#") +998 90 123-45-67
					li 
						a(href="#") 1187
	.footer__center
		.container
			.footer__center-body 
				p 'Someday' is a disease that will take your dreams to the grave with you. Just do it and correct course along the way.
				ul
					li 
						img(src="@img/svg/payme.svg", alt="payme")
					li 
						img(src="@img/svg/click.svg", alt="click")
					li 
						img(src="@img/svg/upay.svg", alt="upay")
	.footer__bottom
		.container 
			.footer__bottom-body 
				ul 
					li
						p Copyright 2022 R
					li
						a(href="#").line-link Условия использование 
					li
						a(href="#").line-link Политика конфеденциалности
				ul.social-links
					li
						a(href="#") 
							+icon('fb', 'w-12') 
					li
						a(href="#") 
							+icon('inst', 'w-12') 
					li
						a(href="#") 
							+icon('telegram', 'w-12') 
					li
						a(href="#") 
							+icon('tw', 'w-12') 
					li
						a(href="#") 
							+icon('in', 'w-12') 