section.advert-s.d-none#draft
	.container-sm 
		.advert 
			.alert-advert 
				h5 Продвигайте свое объявление в ТОП!
				p Как только вы зарегистрируетесь в качестве мастера, вы сможете получать заказы по направлениям, введенным через наш портал!
				.alert-advert-btns 
					button.btn.btn-orange-50 Активировать в топ
					a(href="#") Подробнее  
			ul.advert-list 
				li.advert-item 
					.advert-item__top 
						button.btn.btn-settings
							+icon('dots', 'w-16')
						img(src="@img/cards/1.png", alt="Картинка Объявления")
					.advert-item__bottom  
						.advert-item-info
							.advert-item-info__top
								p 2 Комнатая кв, 63м²
								span 400$
							.advert-item-info__bottom 
								p Ташкент, Шайхантахурский район
								span 22:52
							ul.statistic-list  
								li 
									span Просмотры: 
									strong 311
								li
									span Комментарии: 
									strong 13
								li
									span Лайки:
									strong 209
					.advert-item-date 
						p Дата создание: 
							span 12 Август. 2022  |  
							span 19:32
				li.advert-item 
					.advert-item__top 
						button.btn.btn-settings
							+icon('dots', 'w-16')
						img(src="@img/cards/2.png", alt="Картинка Объявления")
					.advert-item__bottom  
						.advert-item-info
							.advert-item-info__top
								p 2 Комнатая кв, 63м²
								span 400$
							.advert-item-info__bottom 
								p Ташкент, Шайхантахурский район
								span 22:52
							ul.statistic-list  
								li 
									span Просмотры: 
									strong 311
								li
									span Комментарии: 
									strong 13
								li
									span Лайки:
									strong 209
					.advert-item-date 
						p Дата создание: 
							span 12 Август. 2022  |  
							span 19:32
				li.advert-item 
					.advert-item__top 
						button.btn.btn-settings
							+icon('dots', 'w-16')
						img(src="@img/cards/3.png", alt="Картинка Объявления")
					.advert-item__bottom  
						.advert-item-info
							.advert-item-info__top
								p 2 Комнатая кв, 63м²
								span 400$
							.advert-item-info__bottom 
								p Ташкент, Шайхантахурский район
								span 22:52
							ul.statistic-list  
								li 
									span Просмотры: 
									strong 311
								li
									span Комментарии: 
									strong 13
								li
									span Лайки:
									strong 209
					.advert-item-date 
						p Дата создание: 
							span 12 Август. 2022  |  
							span 19:32