header.header 
	.container 
		.header-body
			.header__left
				a(href="/")
					img(src="@img/logo_site2.png", alt="Makler")  
				include ../nav/breadcrumbs
			.header-nav
				button.hamburger.hamburger--collapse(type='button')
					span.hamburger-box
						span.hamburger-inner
				ul.header-nav-list
					li
						a(href="#")
							+icon('fi_globe', 'w-16')
							span Русский  
					li 
						a(href="/save-products.html")
							+icon('fi_heart', 'w-16') 
					li 
						a(href="/cabinet.html")
							+icon('fi_log-in', 'w-16')
							span Профиль 
					li
						a(href="/create-product.html").btn.btn-orange-text
							<svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 3.333v9.334M3.333 8h9.333" stroke="#C56622" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/></svg>
							span разместить объявление