ul.breadcrumbs
	li 
		a(href="/") 
			+icon('fi_arrow-left', 'fill-n w-16 d-none')
			+icon('fi_home', 'fill-n w-16')
	li 
		a(href="#") Ремонт
	li 
		a(href="#") Сантехник
	li 
		a(href="#") Abduvali Eshonqulov 