extends ./pug/templates/main

block variables
	- var title = 'Create product'
	- var pageClass = 'create-product-page'

block content
	include ./pug/modules/sections/07_create-product
	include ./pug/modules/modals/login
	include ./pug/modules/modals/confirm