extends ./pug/templates/main

block variables
	- var title = 'Open product'
	- var pageClass = 'index-page'

block content
	section.simple-s
		.container 
			.simple
				.simple__left
					h2 Это отдельная страница, где мы используем ее для предоставления информации, выходящей за рамки основной идеи сайта!
					h6 Если есть краткое описание темы, мы дадим его так!
					p Например, внизу сайта есть меню для рекламодателей, поэтому, когда пользователь нажмет на него, откроется информационная страница для рекламодателей, и она будет выглядеть вот так!			
					p Я также должен упомянуть, что данные могут содержать случаи видео и изображений, поэтому я подумал, что было бы хорошо выводить их в точном размере! И я сделал это так!
					img(src="@img/simple.png", alt="Картинка простая")
				.simple__right
					.banner
						h5 Рекламная <br>зона