section.additional-nav-s.bg-white
	.container 	
		.additional-nav 
			h4 Вспомогательные меню
			.additional-nav-list
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				ul 
					li
						a(href="#") Новостройки
					li
						a(href="#") Земелные
					li
						a(href="#") Выбор реалтора
					li
						a(href="#") Звстройщики
					li
						a(href="#") Реккомендуемые
					li
						a(href="#") Квартиры
				