section.download-app-s.bg-white
	.container
		.download-app
			.app
				.app-btns 
					button.btn.btn-gray.left-icon 
						+icon('google-play', 'w-16')
						span Google Play
					button.btn.btn-gray.left-icon
						+icon('apple', 'w-16')
						span AppStore
				h3.small-title Загрузите наше приложение
				p С нашим приложением M-makler это еще удобнее!
			.doc 
				button.btn.btn-gray.left-icon.btn-long.text-left.white-icon
					+icon('fi_download', 'w-12') 
					span Скачать форма док
				h3.small-title Для рекламодателей
				p Для упрощения поиска у нас реализована система рекомендаций похожих объявлений.