section.categories-s 	
	.container 
		.categories 
			ul 
				li 
					.info 
						h2 Новостройки <br>дома
						p Более 1240 новых домов
					.img 
						img(src="@img/svg/cat1.svg", alt="Новостройки дома")
				li 
					.info 
						h2 Ипотечные <br>дома
						p Более 1240 ипотеки
					.img 
						img(src="@img/svg/cat2.svg", alt="Новостройки дома")
				li 
					.info 
						h2 Ремонт <br>квартир, участок
						p Более 24 видов ремонта
					.img 
						img(src="@img/svg/cat3.svg", alt="Новостройки дома")
				li 
					.info 
						h2 Обустройства <br>дома
						p Более 10 сервисов
					.img 
						img(src="@img/svg/cat4.svg", alt="Новостройки дома")