section.info-product-s 
	.container 
		h2.product-info-title Двухэтажное шале в лесном комплексе
		p.product-info-par Ташкент, Яшнабадский район
		.info-product
			.info-product-sidebar 
				.plashka 
					h4 Стоимость за месяц:
					strong 4 367 640 сум
					button.btn.btn-orange Позвонить маклеру
			.info-product-main 
				h2.info-product-title Аренда для девушек - студенток.Метро Максима Горького.
				h5.product-small-title Вся информация
				ul.tags-list 
					li.tags-item 
						span Тип аренды
						p Длительно
					li.tags-item 
						span Тип недвижимости
						p Жилая
					li.tags-item 
						span Объект
						p Квартира
					li.tags-item 
						span Этаж
						p 3
					li.tags-item 
						span Жилая площадь
						p 54 кв
					li.tags-item 
						span Плошадь Кухня
						p 24 кв
					li.tags-item 
						span Кол-во комнат
						p 4
					li.tags-item 
						span Общая плошадь
						p 53 кв
					li.tags-item 
						span Этажность дома
						p 9
					li.tags-item 
						span Тип строения
						p Кирпич
					li.tags-item 
						span Ипотека
						p Да
					li.tags-item 
						span Мебелирование
						p Да
				h5.product-small-title Описание
				p.par A warehouse for storing goods is available for rent. There is a free area (land plot of 2 hectares) for the buildings of production workshops, mini-factories, etc. Our warehouse is located in the city of Tashkent, Sergeli industrial zone, opposite the Sergeli Logistic customs post. Convenient location, on a central road, there are all communications, a warehouse of more than 3000 square meters.
				h5.product-small-title Все удобства
				ul.comfort-tags-list 
					li.comfort-tags-item
						+icon('tags-1', 'w-16')
						span Долгосрочная аренда
					li.comfort-tags-item
						+icon('tags-2', 'w-16')
						span Family
					li.comfort-tags-item
						+icon('tags-3', 'w-16')
						span 3 room
					li.comfort-tags-item
						+icon('tags-4', 'w-16')
						span Нотариус
					li.comfort-tags-item
						+icon('tags-5', 'w-16')
						span TV
					li.comfort-tags-item
						+icon('tags-6', 'w-16')
						span Рядом Корзинка
					li.comfort-tags-item
						+icon('tags-7', 'w-16')
						span Wi-Fi
				.show-on-map 
					.show-on-map-address 	
						+icon('fi_navigation', 'w-16 fill-w')
						span р.Мирзо Улугбекский, ул. Ахангаран, 65 А кв 1.
					button.btn.btn-black.btn-black-big показать на карте
				h5.product-small-title Комментарии
				.comments 
					.comments-profile 
						.comments-profile-avatar
							img(src="@img/avatar.png", alt="Your Avatar")
						.comments-profile-info 
							h5.comments-name Abbos Janizakov
							p.comments-id id:123981
					.comments-message
						form(action="#") 
							<textarea id="comment-text" name="comment" placeholder='Оставьте свой комментарий!' required></textarea> 
							button(type='submit').btn 
								+icon('send', 'fill-w')
					ul.comments-list 
						li.comments-item 
							.comments-item-avatar 
								img(src="@img/avatar.png", alt="Avatar")
							.comments-item-info 
								h5.comments-name Abbos Janizakov
								p.comments-text Брат Привет! Хотим арендовать на длительный срок.
								.comments-item-date
									span 09:02  |  
									span 13 Август. 2022
						li.comments-item 
							.comments-item-avatar 
								img(src="@img/avatar2.png", alt="Avatar")
							.comments-item-info 
								h5.comments-name Abbos Janizakov
								p.comments-text Брат Привет! Хотим арендовать на длительный срок.
								.comments-item-date
									span 09:02  |  
									span 13 Август. 2022
					.comments-show-all
						button.btn.btn-border-orange Прочитать все комментарии
				h5.product-small-title Рекомендуем похожие	
		.cards 
			ul.cards-list 
				li.cards-item 
					a(href="#") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/1.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="#") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/2.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="#") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/3.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="#") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/4.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52