section.cabinet-s
	.container
		.cabinet#cabinet
			include ./cabinet/my-product
			include ./cabinet/my-product-archive
			include ./cabinet/my-product-draft
			include ./cabinet/settings
			include ./cabinet/chat
			include ../nav/cabinet-nav