section.masters-s
	include ../nav/nav-search-masters
	.container 
		.masters 
			ul.masters-list#masters-list
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li евро
				//- 			li евро
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li сантехник
				//- 			li евро
				//- 			li евро
				//- 			li ремонт
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li сантехник
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 			li ремонт
				//- 			li ремонт
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
				//- li.masters-item
				//- 	a(href="/master-open.html") 
				//- 		.masters-item-logo 
				//- 			img(src="@img/avatar-big.png", alt="аватар")
				//- 		.masters-item-info 
				//- 			h5 Abduvali Eshonqulov
				//- 			p Мастер, 3 года опыта
				//- 		ul.open-tags 
				//- 			li сантехник
				//- 			li евро
				//- 			li ремонт
				//- 		p.masters-item-address Ташкент, Шайхантахурский район
			button.btn.btn-white.btn-center#show-more Показать ещё 