section.open-info-s
	include ../nav/nav-search-brands
	.container 
		.open-info 
			.open-info__left 
				.open-info-profile 
					.logo 
						img(src="@img/brands/brand-logo-open.png", alt="logo")
					h5 iTechhouse
					p.open-position Магазин битовая техники
					ul.open-tags
						li мебель
						li для кухни
						li ремонт
						li бытовая техника
						li Телевизоры
					p.open-address Ташкент, Шайхантахурский район
				.open-info-contacts 
					a(href="tel:+998 90 123-45-67").tel-nums +998 90 123-45-67
					a(href="mailto:info@gmail.com") info@gmail.com
					button.btn.btn-orange Написать 
			.open-info__right 
				h4 Описание
				p A warehouse for storing goods is available for rent. There is a free area (land plot of 2 hectares) for the buildings of production workshops, mini-factories, etc. Our warehouse is located in the city of Tashkent, Sergeli industrial zone, opposite the Sergeli Logistic customs post. Convenient location, on a central road, there are all communications, a warehouse of more than 3000 square meters.