section.slider-s 
	.container 
		.slider-body
			.slider__left
				.swiper
					.swiper-wrapper
						//- .swiper-slide 
						//- 	img(src="@img/slider/1.png", alt="Картинка слайдера")
						//- .swiper-slide 
						//- 	img(src="@img/slider/2.png", alt="Картинка слайдера")
						//- .swiper-slide 
						//- 	img(src="@img/slider/3.png", alt="Картинка слайдера")
						//- .swiper-slide 
						//- 	img(src="@img/slider/4.png", alt="Картинка слайдера")
					.swiper-button-prev 
						+icon('left-arr', 'fill-n')
					.swiper-button-next
						+icon('left-arr', 'fill-n')
					.swiper-pagination
					.swiper-scrollbar
			.slider__right
				ul 
					li 
						img(src="@img/slider/1.png", alt="Картинка 1")
					li 
						img(src="@img/slider/2.png", alt="Картинка 2")
					li 
						img(src="@img/slider/3.png", alt="Картинка 3")
					li 
						img(src="@img/slider/4.png", alt="Картинка 4")