section.brands-s 
	include ../nav/nav-search-brands
	.container 
		.brands 
			ul.brands-list#brands-list
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo1.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/1.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo2.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/2.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo3.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/3.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo4.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/4.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo5.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/5.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo4.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/6.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo1.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/7.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
				//- li.brands-item 
				//- 	a(href="/brands-open.html") 
				//- 		.brands-item-header 
				//- 			.brands-item-logo 
				//- 				img(src="@img/brands/logo2.png", alt="logo brands")
				//- 			h5.brands-item-title iTechhouse
				//- 		.brands-item-body 
				//- 			.brands-item-image 
				//- 				img(src="@img/brands/8.png", alt="Картинка брэнда")
				//- 			.brands-item-info 
				//- 				h5 Стиралная машина
				//- 				p Техника для дома
				//- 				span $670
			button.btn.btn-big.btn-white.btn-center#show-more Показать ещё