include ../nav/nav-search
section.cards-s 
	.container
		.cards 
			.cards-head
				h4 Ипотечные дома
				ul.filters-list
					li.select-sort 
						a(href="#")#sort-link
							span Сортировка
							+icon('filter', 'w-16') 
						.nav-body-choose
							ul
								li 
									a(href="#").btn.btn-orange-light Дешевые 	
								li 
									a(href="#").btn.btn-orange-light Дорогие 	
								li 
									a(href="#").btn.btn-orange-light Новые 
					li 
						a(href="#")
							span Расширенный фильтр
			ul.cards-list 
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/1.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/2.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item.top
					a(href="/product.html") 
						.cards-item__top 
							span.top-span TOP
							button.btn-save
								+icon('save') 
							img(src="@img/cards/3.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/4.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/5.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/6.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/7.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
				li.cards-item 
					a(href="/product.html") 
						.cards-item__top 
							button.btn-save
								+icon('save') 
							img(src="@img/cards/8.png", alt="")
						.cards-item__bottom
							.cards-item-info 
								.cards-item-info__top
									p 2 Комнатая кв, 63м²
									span 400$
								.cards-item-info__bottom 
									p Ташкент, Шайхантахурский район
									span 22:52
			button.btn.btn-big.btn-white Показать ещё